.mySlides {
    display: block;
}

.image {
    width: 1000px;
    height: 500px;
    /*max-height: 500px;*/
}

/* Caption text */
.text {
    color: #f2f2f2;
    /*color: black;*/
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}