<div class="row">
    <div class="col-md-12">
        <h1 class="hpfont bigHeader centered">Oliver's Wands</h1>
        <h2 class="hpfont subHeader centered">and Wizarding Wares</h2>
        <h3 class="biggerText centered">Harry Potter Licensed Collectibles</h3>
        <h3 class="biggerText centered">Classes, Events, School Vocation Camps</h3>
        <p class="bigText bigText centered">
            <strong>Located at:</strong> <br>
            60 Main St <br>
            Maynard, MA 07154 <br>
        </p>
        <p class="bigText centered">
            <strong>Phone No:</strong> <br>
            (866) 411-2525
        </p>
        <table class="bigText centered">
            <tr>
                <th colspan="2" class= "centered">Hours:</th>
            </tr>
            <tr>
                <td>Wed</td>
                <td>12-5</td>
            </tr>
            <tr>
                <td>Thurs</td>
                <td>1-6</td>
            </tr>
            <tr>
                <td>Fri</td>
                <td>1-6</td>
            </tr>
            <tr>
                <td>Sat</td>
                <td>10-6</td>
            </tr>
        </table>
        <br>
        <br>
        <br>
        <h2 class="hpfont subHeader centered bottom">Full Website Coming Soon!</h2>
    </div>
</div>