<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1 class="hpfont">Contact us today!</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Send us an owl!</h4>
        <h5>We can be reached at</h5>
        <address>
            Oliver's Wands<br>
            60 Main St<br>
            Maynard, MA 07154
        </address>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>For members of our muggle clientele:</h4>
        <h5>Call us at</h5>
        <address>(866) 411-2525</address>
    </div>
</div>