<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="hpfont navbar-brand">Oliver's Wands</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a>About Us</a></li>
                <li routerLinkActive="active"><a routerLink="/events">Events</a></li>
                <li routerLinkActive="active"><a>Store</a></li>
                <li routerLinkActive="active"><a>Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>Register</a></li>
                <li><a>Login</a></li>
                <li class="dropdown">
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage</a>
                    <ul class="dropdown-menu">
                        <li><a>Thing 1</a></li>
                        <li><a>Thing 2</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>