<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Events Calendar</h1>
        </div>
    </div>
</div>
<div class="month"> 
    <ul>
        <li class="prev">
            <button class="btn btn-default" (click)="onPrevMonth()">
                &#10094;
            </button>
        </li>
        <li class="next">
            <button class="btn btn-default" (click)="onNextMonth()">
                &#10095;
            </button>
        </li>
        <li *ngIf="!changing">
            {{ currentMonthName }}<br>
            <span style="font-size:18px">{{ currentYear }}</span>
        </li>
    </ul>
</div>

<ul class="weekdays">
    <li>Mo</li>
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    <li>Su</li>
</ul>

<ul class="days"> 
    <li *ngFor="let day of daysInCurrentMonth; let i = index">{{ i + 1 }}</li>
</ul>