<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Events Calendar</h1>
        </div>
    </div>
</div>
<div class="month"> 
    <ul>
        <li class="prev">
            <button class="btn btn-default" (click)="onPrevMonth()">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            </button>
        </li>
        <li class="next">
            <button class="btn btn-default" (click)="onNextMonth()">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </button>
        </li>
        <li *ngIf="!changing">
            {{ currentMonthName }}<br>
            <span style="font-size:18px">{{ currentYear }}</span>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="calendar">
            <tr class="weekdays">
                <th>Sun</th>
                <th>Mon</th>
                <th>Tues</th>
                <th>Wed</th>
                <th>Thurs</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>

            <tr class="days"> 
                <sw-calendar-day
                    *ngFor="let day of daysInCurrentMonth"
                    [value]="day"
                    [isTodayMonth]="isCurrentMonthToday()"
                    [today]="today"></sw-calendar-day>
            </tr>
        </table>
    </div>
</div>