<div class="slideshow-container">
    <div class="mySlides">
        <!--This will be the upcoming events graphic-->
        <img class="image" src="https://ak.picdn.net/assets/cms/89a342bc2cb8831391f7feb79d0a8ed22265f892-stock-photo-lonely-boat-on-a-beach-with-aerial-view-280774472.jpg">
        <div class="text">Upcoming Events</div>
    </div>

    <div
        *ngFor="let eventE1 of events; let i = index"
        class="mySlides">
        <img class="image" [src]="eventE1.imagePath">
        <div class="text">{{ eventE1.title }}</div>
    </div>

    <!--<div class="mySlides">
        <img class="image" src="https://ak.picdn.net/assets/cms/89a342bc2cb8831391f7feb79d0a8ed22265f892-stock-photo-lonely-boat-on-a-beach-with-aerial-view-280774472.jpg">
        <div class="text">Caption Two</div>
    </div>-->

    <!--<div class="mySlides">
        <img class="image" src="https://www.bigstockphoto.com/images/homepage/2016_bigstock_picks.jpg">
        <div class="text">Caption Three</div>
    </div>-->

    <a class="prev" (click)="plusSlides(-1)"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
    <a class="next" (click)="plusSlides(1)"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
</div>
<br>
<div style="text-align:center">
    <span class="dot" (click)="currentSlide(1)"></span> 
    <span
        *ngFor="let eventE2 of events; let i = index"
        class="dot"
        (click)="currentSlide(i+2)">
    </span>
</div>